/* GENERAL */
body{
    font-family: Arial, Helvetica, sans-serif;
}

.bg-set{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbo-padding{
    padding-top: 10rem;
}

/* BUTTON */
.hover-btn-my{
    width: max-content;
    padding: .2rem;
    border: 2px solid transparent;
}

/* -Orange- */
.btn-orange{
    background-color: #cd3d0f;
    border: none;
    color: white;
}

.btn-orange:hover{background-color: #bd3f16;}

.hover-orange-btn:hover{
    border: 2px solid #cd3d0f;
}

/* -Blue- */
.hover-blue-btn:hover{
    border: 2px solid #0d6efd;
}

/* -Blue reverse- */
.btn-blue-reverse,
.btn-blue-reverse:hover{
    background-color: #d9dadc;
    color: #2d64e6;
}

.btn-blue-reverse:hover{
    background-color: #d0d0d1;
}

.hover-blue-reverse-btn:hover{
    border: 2px solid #d9dadc;
}

/* -White- */
.hover-white-btn:hover{
    border: 2px solid white;
}
/* ----------HEADER---------- */
/* Black Banner */
div.black-banner{
    background-color: black;
}

div.black-banner img{
    width: 6rem;
}


/* Nav Bar */
a.nav-link{
    color: black
}
/* ----------MAIN---------- */
main{
    padding-top: 6.8rem;
}

/* Jumbo */
section#jumbo{
    background-image: url(../img/jumbo-bg.png);
    color: white;
}

p.jumbo-p{
    font-size: 1.1rem;
}

/* It-Take Jumbo */
section#it-take{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    color: white;
}


/* New Releases */
section#new-releases{
    background-color: #1f1f1f;
    color: white;
}

/* Banner PS Plus */
section#banner-plus{
    background-color: #bebcbb;
}

/* Banner PS Now */
section#banner-now{
    background-color: #161c3b;
    color: white;
}

/* ----------FOOTER---------- */
footer{
    background-color: #00439c;
    color: white;
}

.play-logo-footer,
.sie-logo{
    width: 8rem;
}

.language-logo{
    height: 2rem;
}
