/* GENERAL */
body{
    font-family: Arial, Helvetica, sans-serif;
}

.bg-set{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbo-padding{
    padding-top: 10rem;
}
/* ----------HEADER---------- */
/* Black Banner */
div.black-banner{
    background-color: black;
}

div.black-banner img{
    width: 6rem;
}

/* Nav Bar */
a.nav-link{
    color: black
}
/* ----------MAIN---------- */
/* Jumbo */
section#jumbo{
    background-image: url(../img/jumbo-bg.png);
    color: white;
}


/* It-Take Jumbo */
section#it-take{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    color: white;
}


/* New Releases */
section#new-releases{
    background-color: #1f1f1f;
    color: white;
}

/* Banner PS Plus */
section#banner-plus{
    background-color: #bebcbb;
}

/* Banner PS Now */
section#banner-now{
    background-color: #161c3b;
    color: white;
}

/* ----------FOOTER---------- */